html {

}

header {
  background-color: cadetblue;
}

.hero {
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  width: 100%;
  height: 30rem;
}

footer {
  background-color: cadetblue;
}
